{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Add Movie Page
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='home.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      
        <h1>Add Movie Page</h1>
        {% if current_user.is_authenticated %}
  <h4> Hi, You are logged in as : {{ current_user.username }}</h4>
{% else %}
  <a href="/login">why aren't you logged in?</a>
{% endif %}

    </div> <!-- /container -->
</br>
    <div class="container">

        <form class="form-signin" method="POST" action="/AddMovie">
          <h2 class="form-signin-heading">Add new Movie</h2>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.MovieTitle) }}
          {{ wtf.form_field(form.MovieDescription) }}
          {{ wtf.form_field(form.MovieYear) }}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Add Movie</button>
        </form>
      
      </div> <!-- /container -->
      
         
  
   
  {% include 'footer.html' %}

{% endblock %}