<div class="container">
</br>
</br>
<a href="/home">Home</a><br>
<a href="/login">Login</a>~
<!-- <a href="/welcome">Welcome</a>~ -->
<a href="/logout">Logout</a>~
<a href="/signup">Signup</a><br>
<a href="/AddMovie">Add New Movie</a>~
<a href="/ListMovies">List all Movies</a>~
<a href="/RemoveMovies">Remove Movies</a><br>
<a href="/ListAllUsers">List all Users</a><br>
<a href="/RateMovies">Rate Movies</a>~
<a href="/listRatings">list all Ratings</a>
<!-- 
<a href="/signup">Signup</a>~
<a href="/signup">Signup</a>~
<a href="/signup">Signup</a>~ -->
</div>
