{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home page
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='home.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      
        <h1>Home Page</h1>
        {% if current_user.is_authenticated %}
  <h4> Hi, You are logged in as : {{ current_user.username }}</h4>
{% else %}
  <a href="/login">why aren't you logged in?</a>
{% endif %}

    </div> <!-- /container -->
  
   
  {% include 'footer.html' %}

{% endblock %}